body {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width: auto;
}



/*header {
        background: url(imagenes/fuego.jpg) no-repeat center;
        background-size: cover;
        width:  100%;
        height: 500px;
        
    }
  */



            /* Inicio nav bar*/


#navbar {

  width: 100%;
  padding: 15px;
}



header .navbar {

  background-color: transparent !important;
  text-shadow: -1.2px 1px 1px #030303;
  position: absolute;
  z-index: 2;

}


            /* fin nav bar*/



            /* Inicio Carrusel */


.carrtop {

  position: relative;
  z-index: 1;

}


.carousel-caption {

  margin-bottom: 300px;
  text-shadow: 1px 1px 2px #030303;
  -webkit-text-stroke: #000000;

}


h2,
h3,
h5 {

  color: white;

}


p {

  color: white;

}

            /*Fin Carrusel*/




            /*Inicio tarjetas*/

#tarj {

  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.card {
  margin: 50px 20px;
  background-color: rgb(39, 38, 38);
  box-shadow: 1px 1px 3px #525252;

}


.card-title {

  color: rgb(245, 140, 3);

}


            /* fin tarjetas*/




            /* Inicio imagenes*/


#imgcontcomp {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 3px 2px 3px #525252;
}

#imagcomp {

  position: absolute;
}


#despenimag {


  position: absolute;
  width: auto;
  height: 500px;
  padding: 50px;
  margin-left: 50px;
  text-align: center;
  text-shadow: 1px 1px 0.2px #030303;

}

            /* Fin imagenes*/



            /* Inicio Formulario*/



#FmoRes {
  
  width: auto;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
 
}



form {
 
  box-shadow: 4px 4px 5px 4px #525252;
  margin: 20px;
  padding: 10px;
  justify-content: space-between;
}



.nyap {

 
  margin: 2PX;
  padding: 2px;

}



label {

  padding: 20px;
  margin: 5PX;

  
}



.res {

  color: #030303;
  text-align: center;
  margin: 20px;
}



#areat {

  margin: 10px;
  
}



/*calendario de reservas*/

#reservas {

margin: 5px;
padding: 5px;
 
}

/*fin caledario de reservas*/




            /* Fin Formulario*/





            /*Inicio footer*/



footer {
  margin: 0px;

}


footer a {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



#cop {

  text-decoration: none;
  color: white;
}

#desarr {

  font-size: 11px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



            /*Fin de Footer*/




        
            /*@mediaQuery*/

@media (max-width: 480px) {


            /*  nav bar*/


  nav h2,
  h3,
  h5 {

    font-size: 13px;
  }

  nav p {

    font-size: 11px;

  }


            /* Fin nav bar*/





            /* Inicio Carrusel */


  .carrtop {

    display: flexbox;

  }

              /* Fin Carrusel */





              /*tarjetas*/


  #tarj {

    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }


  .card {

    font-size: small;
  }



              /* Fin tarjetas*/







              /* Imágenes */

  #imgcontcomp {

    display: flexbox;
    flex-direction: column;
    align-content: center;
  }

  #despenimag {


    position: absolute;
    width: auto;
    height: auto;
    padding: auto;
    margin-left: auto;
    text-align: center;

  }

               /* Fin Imágenes */


               /* Inicio Formulario*/



#FmoRes {
  
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
 
}


label {

  padding: auto;
  margin: auto;

  
}

}



            /* Fin Formulario*/

/* ------------------------------------------- */